<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div>Count: {{count}}
      <div>
        Count1: {{count1}}
      </div>
    </div>
    <div v-text="count"></div>
    <div v-text="count"></div>
    <input v-bind:value="inputValue" v-on:input="onInput" type="text">
    <div>InputValue: {{inputValue}}</div>
    <input v-model="inputValue1" type="text">
    <div>InputValue1: {{inputValue1}}</div>
    <input v-model="inputValue1" type="text">
  </div>
  <script src="./vue.js"></script>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      count: 0,
      count1: 2,
      inputValue: 'hello',
      inputValue1: 'aaaa'
    },
    methods: {
      onInput(e) {
        this.inputValue = e.target.value
      }
    },
    mounted() {
      setInterval(() => {
        console.log('count:', this.count++)
      }, 1000)
      setInterval(() => {
        console.log('count1:', this.count1--)
      }, 1000)
    }
  })
</script>

</html>